@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

.card {
  background-color:  #343434;
}

@media only screen and (max-width: 600px) {
  .card {
    margin-top: 40px;
  }
}

.card-title {
  color: #fc5185;
  font-size: 1.5em;
  font-family: 'Varela';
}

.card-body {
  color: white;
  font-size: 1.1em;
  font-family: 'Merriweather', serif;
}