@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

@media only screen and (max-width: 600px) {
    .navbar {
        height: 200px;
    }
}

ul {
    color: white;
    font-family: 'Varela';
    font-size: 1.5em;

}