@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

body {
    margin: 0;
    height: 100vh;
    background: #42648b;
}

@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}

header {
    display: flex;
}

.jumb {
    border-right: solid white .15em;
    border-left: solid white .15em;
    border-radius: 10px;
    animation: changeColor 2s infinite;
    width: 50%
}

@media only screen and (max-width: 600px) {
    .jumb {
        width: 90%;
    }
    h5 {
        font-size: 1.1em;
    }
}


@keyframes changeColor {
    from {
        border-right: solid white .15em;
        border-left: solid  white .15em;
    }
    to {
        border-right: solid  #43dde6 .15em;
        border-left: solid #43dde6 .15em;
    }
}

.home-message {
    background-color: #2d4561;
    color: white;
    font-family: 'Varela';
    font-size: 1em;
}

@media only screen and (min-width: 600px) {
    .home-message {
        height: 150px;
    }
}

.typewriter {
    border-right: solid 3px  #fc5185;
    white-space: nowrap;
    overflow: hidden;    
    font-family: 'Source Code Pro', monospace;  
    color: white;
  }

.typewriter {
    animation: 
        animated-text 3s steps(29,end) 1s 1 normal both,
        animated-cursor 600ms steps(29,end);
}
  
@keyframes animated-text{
    from{width: 0;}
    to{width: 310px;}
}

@keyframes animated-cursor{
    from{border-right-color: #fc5185;}
    to{border-right-color: transparent;}
}
  
.span-style {
    color:  #fc5185;
}

.TEST {
    height: 100vh;
}
